.sidebar {
	height: calc(100vh - 70px);
	flex: 0.1;
	background-color: #fff;
	min-width: 250px;
	padding: 30px;
	overflow: scroll;
	overflow-x: hidden;
}

.sidebar__logo {
	margin-top: -30px;
}

.sidebar__separator {
	margin-bottom: 14px !important;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(241, 241, 241);
	transition: 1s ease;
	border-radius: 99px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #31da6e;
}
